a{
  color: #E2C044;
}
.bg-page{
  background-color: #1E2019;
}
.bg-jumbo{
  background-color: #393E41;
}
.bg-cards{
  background-color: white;
}
.bg-card-item{
  
  background-color: white;
}
.card-item-text{
  color: #393E41;
